# cache files
*.pyc
.pip_cache/
*.out
ContPTNCN/outputs/*

*.log
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.ico
*.webp
*.svg
*.pdf
*.docx
*.doc

.venv/
__pycache__/
.claude

logs/

.DS_Store
.idea/
.vscode/
.pytest_cache/
.ruff_cache/
.mypy_cache/
